*.app linguist-language=java
*.libs linguist-language=java
*.release linguist-language=java
*.src linguist-language=kotlin
*.java linguist-language=java
*.com linguist-language=java
*.res linguist-language=java
